name: Update Playlist

on:
  schedule:
    - cron: '0 */4 * * *' # প্রতি ৪ ঘণ্টা পর পর রান হবে
  workflow_dispatch: # ম্যানুয়ালি রান করার অপশন

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run generator script
        run: python generator.py

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Auto update playlist [skip ci]"
          file_pattern: playlist.m3u
          
